body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

#inicio {
  padding: 20px;
}

#logo {
  width: 200px;
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
}

#peones button {
  font-size: 30px;
  margin: 5px;
  cursor: pointer;
  background: white;
  border: 2px solid transparent;
}

.peon.seleccionado {
  border: 3px solid green;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}

#iniciar:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  font-size: 18px;
  margin: 5px 0;
}
